<div class="composer card">
    <h1>Composer</h1>

    <%= simple_form_for @quip do |f| %>
        <%= f.input :body, label: "New Quips", placeholder: "Now write something really witty..." %>
        <%= f.button :submit %>
    <% end %>

<div>