
<header class="header card">
    <h1 class="index-title">Britter</h1>
    <div class="index-content-wrapper">
      <div class="index-menu">
          <a>Login</a>
          <a>Register</a>
      </div>
    </div>
</header>
    