<div class="card profile">
    <h3><%= link_to current_user.name, edit_user_registration_path %></h3>
    <strong>@<%= current_user.username %></strong>
    <P><%= current_user.description %></P>
</div>